$primary: #04dfd9;
$font-family-sans-serif: Open Sans;
$body-bg: rgb(248, 249, 250);

@import "app";

.logo {
    width: 244px;
    height: 80px;
    background: url(/sourcecode/assets/craftory-tech/logo.png);

    a {
        width: 244px;
        height: 80px;
        display: block;
    }
}